<main>
    <ul *ngIf="books">
        <li *ngFor="let book of books">
                <section [ngClass]="books_styles.cover_section">
                    <img
                        src={{book.cover}}
                        [ngClass]="books_styles.cover"
                    />
                </section>

                <section [ngClass]="books_styles.book_info_section">
                    <div [ngClass]="books_styles.book_title">
                        <h1>{{book.title}}</h1>
                    </div>

                    <div [ngClass]="books_styles.book_info_summary">
                        <p>{{book.summary}}</p>
                    </div>

                    <div [ngClass]="books_styles.book_info_details">
                        Author: {{book.author}}<br/>
                        Pages: {{book.pages}}<br/>
                        Release Date: {{book.release_date}}<br/>
                        Dedication: {{book.dedication}}<br/>
                    </div>

                    <a
                        href={{book.wiki}}
                        [ngClass]="books_styles.book_more"
                        target="_blank"
                    >See more</a>
                </section>
        </li>
    </ul>
</main>