<main>
    <ul>
        <li *ngFor="let book of books.data">
                <section [ngClass]="books_styles.cover_section">
                    <img
                        src={{book.attributes.cover}}
                        [ngClass]="books_styles.cover"
                    />
                </section>

                <section [ngClass]="books_styles.book_info_section">
                    <div [ngClass]="books_styles.book_title">
                        <h1>{{book.attributes.title}}</h1>
                    </div>

                    <div [ngClass]="books_styles.book_info_summary">
                        <p>{{book.attributes.summary}}</p>
                    </div>

                    <div [ngClass]="books_styles.book_info_details">
                        Author: {{book.attributes.author}}<br/>
                        Pages: {{book.attributes.pages}}<br/>
                        Release Date: {{book.attributes.release_date}}<br/>
                        Dedication: {{book.attributes.dedication}}<br/>
                    </div>

                    <a
                        href={{book.attributes.wiki}}
                        [ngClass]="books_styles.book_more"
                        target="_blank"
                    >See more</a>
                </section>
        </li>
    </ul>
</main>