@import '../../../../styles.scss';

*{
    font-family: 'Courier New', Courier, monospace;
}

main{
    height: 100%;
    width: 100%;
     
    ul{
        @include flex-centralize();
        height: 100%;
        width: 100%;
        flex-direction: column;
        list-style: none;
        background-color: $gryffindor-red;

        li{
            background-color: $ravenclaw-blue;
            color: $slytherin-silver;
            width: 80%;
            height: 80vh;
            border-radius: 20px;
            display: flex;
            margin-bottom: 2rem;
            margin-top: 2rem;
            border: .2em solid $ravenclaw-bronze;

            .image_section{
                @include flex-centralize();
                height: 100%;
                width: 30%;

                .image{
                    height: 400px;
                    width: auto;
                    max-width: 80%;
                    transition: all 1s ease;
                }

                .image:hover{
                    transform: scale(1.2);
                }
            }

            .character_info_section{
                height: 100%;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                overflow: auto;
                
                p{
                    text-indent: 2em;
                    text-align: justify;
                    padding: 1.5em;
                }
            }
        }
    }
}