<main>
    <ul *ngIf="movies">
        <li *ngFor="let movie of movies.data">
                <section [ngClass]="books_styles.cover_section">
                    <img
                        src={{movie.attributes.poster}}
                        [ngClass]="books_styles.cover"
                    />
                </section>

                <section [ngClass]="books_styles.book_info_section">
                    <div [ngClass]="books_styles.book_title">
                        <h1>{{movie.attributes.title}}</h1>
                    </div>

                    <div [ngClass]="books_styles.book_info_summary">
                        <p>{{movie.attributes.summary}}</p>
                    </div>

                    <div [ngClass]="books_styles.book_info_details">
                        Director:
                            <span
                                *ngFor="let director of movie.attributes.directors"
                            >{{director}}</span><br/>
                        Producer:
                            <span
                                *ngFor="let producer of movie.attributes.producers"
                            > {{producer}};</span><br/>
                        Screenwriter:
                            <span
                                *ngFor="let screenwriter of movie.attributes.screenwriters"
                            > {{screenwriter}};</span><br/>
                        Music By:
                            <span
                                *ngFor="let composer of movie.attributes.music_composers"
                            > {{composer}};</span><br/>
                        Editor:
                            <span
                                *ngFor="let editor of movie.attributes.editors"
                            > {{editor}};</span><br/>
                        Cinematographer:
                            <span
                                *ngFor="let cinematographer of movie.attributes.cinematographers"
                            > {{cinematographer}};</span><br/>
                        Running Time: {{movie.attributes.running_time}}<br/>
                        Release Date: {{movie.attributes.release_date}}<br/>
                        Rating: {{movie.attributes.rating}}<br/>
                        Budget: {{movie.attributes.budget}}<br/>
                        Box Office: {{movie.attributes.box_office}}<br/>
                        Distributors:
                            <span
                                *ngFor="let distributor of movie.attributes.distributors"
                            >{{distributor}}</span><br/>
                    </div>

                    <a
                        href={{movie.attributes.wiki}}
                        [ngClass]="books_styles.book_more"
                        target="_blank"
                    >See more</a>
                </section>
        </li>
    </ul>
</main>